install
url --url http://10.0.0.2/centos/7/os/x86_64
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_SG.UTF-8

# Network information
network  --bootproto=static --onboot=yes --netmask=255.255.0.0 --gateway=10.0.0.1 --nameserver=10.0.0.2 --ip=10.0.0.3
network  --hostname=foreman.example.com

# Root password
rootpw --iscrypted $6$DBYv/NYwSvaKUoGF$cgicD1GvmWJjfnPl18PlYh/2QCN3bJ0Xj5tEF9RPwJ1xGiL7B8pdm09YGIqCASQUe.GZYy3DPYMQSIpoBjczN0
# System timezone
timezone Asia/Singapore --isUtc
# System bootloader configuration
bootloader --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# eula
eula --agreed

%packages
@^minimal
@core
vim
bash-completion
%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end
